@import url("https://fonts.googleapis.com/css2?family=Sriracha&family=Ubuntu+Condensed&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: #e4756e;
   font-size: 1.6rem;
   line-height: 1.5;
   font-family: "Ubuntu Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Sriracha", cursive;
}

/* Contents */
/* Marketing Page ... 136 - 343 */
/* About Us Page ... 345 - */
/* Media Queries ... */

/* Start Marketing Page */

/* Top Section */

nav {
   padding-top: 5.5rem;
}

a {
   text-decoration: none;
   letter-spacing: 0.3rem;
   color: #e34647;
   margin: 5rem;
}

header a:hover {
   color: #ffdd45;
}

header {
   height: 12vh;
   width: 100vw;
   padding: 2rem;
   background-color: #1e222e;
   display: flex;
   flex-flow: row;
   justify-content: space-between;
}
#logo {
   height: 8rem;
   width: 25rem;
   padding-left: 3rem;
}

#top {
   height: 88vh;
   width: 100vw;
}

#steve-halama {
   height: 88vh;
   width: 100vw;
   object-fit: cover;
   background-position: center;
}

#topTextLeft {
   width: 35vw;
   background-color: hsl(240deg 9% 79% / 26%);
   position: absolute;
   top: 31rem;
   left: 8rem;
   text-align: justify;
   padding: 1.5rem;
   border-radius: 1rem;
   color: #1e222e;
   font-weight: bold;
   font-size: 2rem;
}

#missionStatement {
   height: 20rem;
   width: 50vw;
   position: absolute;
   top: 13rem;
   right: 2rem;
   color: #1e222e;
   font-size: 5rem;
}

/* End Top */

/* Mid Section */

#spacer {
   height: 7vh;
   background-color: #1e222e;
}

#midText {
   height: 5vh;
   font-size: 3rem;
   text-align: center;
}

#midContainer {
   height: 100vh;
   width: 100vw;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      180deg,
      rgba(30, 34, 46, 1) 7%,
      rgba(228, 117, 110, 1) 45%,
      rgba(30, 34, 46, 1) 82%
   );
   text-align: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.descriptor {
   height: 47vh;
   width: 18vw;
   margin-bottom: 15rem;
   background-color: #1e222e;
   border-radius: 2rem;
}

#jonathan-borba {
   height: 22vh;
   width: 90%;
   border: 0.5rem solid #1e222e;
   border-radius: 2rem;
   margin: 0.75rem 0 0 -3rem;
}

#jonathan-borba:hover {
   height: 25vh;
   width: 100%;
   padding: 0;
   margin: 0.75rem 0 0 -5rem;
   transition: 0.5s;
}

#ryan-de-hamer {
   height: 22vh;
   width: 90%;
   border: 0.5rem solid #1e222e;
   border-radius: 2rem;
   margin: 6.5rem 0 0 -3rem;
}

#ryan-de-hamer:hover {
   height: 25vh;
   width: 100%;
   padding: 0;
   margin: 6.5rem 0 0 -5rem;
   transition: 0.5s;
}

#mika {
   height: 22vh;
   width: 90%;
   border: 0.5rem solid #1e222e;
   border-radius: 2rem;
   margin: 0.25rem 0 0 -3.25rem;
}

#mika:hover {
   height: 25vh;
   width: 100%;
   padding: 0;
   margin: 0.5rem 0 0 -5rem;
   transition: 0.5s;
}

p {
   margin: 4rem 3rem;
   color: #e34647;
   font-size: 2rem;
   text-align: justify;
}

/* End Mid */

/* Bottom Section */

#bottom {
   width: 100vw;
}

#bottomText {
   height: 5vh;
   font-size: 3rem;
   text-align: center;
}

#sven-mieke {
   height: 75vh;
   width: 100vw;
}

footer {
   height: 10vh;
   padding: 2.25rem;
   text-align: center;
   background-color: #1e222e;
}

i:hover {
   color: white;
}

.fa fa-facebook-square {
   color: #e4756e;
}

.fa fa-twitter-square {
   color: #e4756e;
}

.fa fa-instagram {
   color: #e4756e;
}

/* End Marketing Page */

/* Start About Us Page */

.container {
   width: 75%;
   height: 40vh;
   background-color: #1e222e;
   border-radius: 1rem;
   margin: 1% auto;
   padding: 1rem;
}

.topHalf {
   width: 85%;
   height: 45%;
   margin: 0.75%;
   border-radius: 1rem;
   padding: 1%;
   border: 1px solid white;
   display: flex;
   flex-flow: row nowrap;
}

.topImg {
   width: 10.75%;
   height: 98%;
   border: 1px solid white;
   border-radius: 7rem;
}

.topInfo {
   width: 90%;
   height: 98%;
   border: 1px solid white;
   border-radius 1rem;
   margin: 0 1%;
}

.topTitle {
   width: 20%;
   height: 20%;
   border: 1px solid white;
   margin: 1%;
   border-radius: 0.5rem;
}

.topBio {
   width: 98%;
   height: 60%;
   border: 1px solid white;
   margin: 1%;
   border-radius: 0.5rem;
}

.bottomHalf {
   width: 85%;
   height: 45%;
   margin: 0.75% 0.75% 0.75% 14.25%;
   border-radius: 1rem;
   border: 1px solid white;
   padding: 1%;
   display: flex;
   flex-direction: row-reverse;
}

.bottomImg {
   width: 10.75%;
   height: 98%;
   border: 1px solid white;
   border-radius: 7rem;
}

.bottomInfo {
   width: 90%;
   height: 98%;
   border: 1px solid white;
   border-radius 1rem;
   margin: 0 1%;
   /* display: flex;
   flew-flow: column;
   justify-content: flex-end; */
}

.bottomTitle {
   width: 20%;
   height: 20%;
   border: 1px solid white;
   margin: 1% 1% 1% 79%;
   border-radius: .5rem;
}

.bottomBio {
   width: 98%;
   height: 60%;
   border: 1px solid white;
   margin: 1%;
   border-radius: 0.5rem;
}