@import url("https://fonts.googleapis.com/css2?family=Sriracha&family=Ubuntu+Condensed&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   background: #e4756e;
   font-size: 1.6rem;
   line-height: 1.5;
   font-family: "Ubuntu Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Sriracha", cursive;
}

/* Contents */
/* Marketing Page ... 136 - 528 */
/* About Us Page ... 530 - 660 */
/* Media Queries ... (MP) 345 - 526 */
/* Media Queries ... (AU)  */

/* Start Marketing Page */

/* Top Section */

nav {
   padding-top: 5.5rem;
}

a {
   text-decoration: none;
   letter-spacing: 0.3rem;
   color: #e34647;
   margin: 5rem;
}

header a:hover {
   color: #ffdd45;
}

/* header a:visited {
   color: #FC8B2F;
} */

header {
   height: 12vh;
   width: 100vw;
   font-size: 2rem;
   padding: 2rem;
   background-color: #1e222e;
   display: flex;
   flex-flow: row;
   justify-content: space-between;
}

#logo {
   height: 8rem;
   width: 25rem;
   padding-left: 3rem;
}

#top {
   height: 88vh;
   width: 100vw;
}

#steve-halama {
   height: 88vh;
   width: 100vw;
   object-fit: cover;
   background-position: center;
}

#topTextLeft {
   width: 35%;
   background-color: hsl(240deg 9% 79% / 26%);
   position: absolute;
   top: 31rem;
   left: 8rem;
   text-align: justify;
   padding: 1.5rem;
   border-radius: 1rem;
   color: #1e222e;
   font-weight: bold;
   font-size: 2rem;
}

#missionStatement {
   width: 53%;
   position: absolute;
   top: 13rem;
   right: 2rem;
   color: #1e222e;
   font-size: 5rem;
}

/* End Top */

/* Mid Section */

#spacer {
   height: 7vh;
   background-color: #1e222e;
}

#midText {
   height: 5vh;
   font-size: 3rem;
   text-align: center;
}

#midContainer {
   height: 100vh;
   width: 100vw;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      180deg,
      rgba(30, 34, 46, 1) 7%,
      rgba(228, 117, 110, 1) 45%,
      rgba(30, 34, 46, 1) 82%
   );
   text-align: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.descriptor {
   height: 47vh;
   width: 18vw;
   margin-bottom: 15rem;
   background-color: #1e222e;
   border-radius: 2rem;
}

#jonathan-borba {
   height: 22vh;
   width: 90%;
   border: 0.5rem solid #1e222e;
   border-radius: 2rem;
   margin: 0.75rem 0 0 -3rem;
}

#jonathan-borba:hover {
   height: 25vh;
   width: 100%;
   padding: 0;
   margin: 0.75rem 0 0 -5rem;
   transition: 0.5s;
}

#ryan-de-hamer {
   height: 22vh;
   width: 90%;
   border: 0.5rem solid #1e222e;
   border-radius: 2rem;
   margin: 7rem 0 0 -3rem;
}

#ryan-de-hamer:hover {
   height: 25vh;
   width: 100%;
   padding: 0;
   margin: 7rem 0 0 -5rem;
   transition: 0.5s;
}

#mika {
   height: 22vh;
   width: 90%;
   border: 0.5rem solid #1e222e;
   border-radius: 2rem;
   margin: 1.25rem 0 0 -3.25rem;
}

#mika:hover {
   height: 25vh;
   width: 100%;
   padding: 0;
   margin: 1.25rem 0 0 -5rem;
   transition: 0.5s;
}

p {
   margin: 4rem 3rem;
   color: #e34647;
   font-size: 2rem;
   text-align: justify;
}

/* End Mid */

/* Bottom Section */

#bottom {
   width: 100vw;
}

#bottomText {
   height: 5vh;
   font-size: 3rem;
   text-align: center;
}

#sven-mieke {
   height: 50%;
   width: 100%;
   object-fit: cover;
   background-position: center;
}

footer {
   height: 10vh;
   padding: 2.25rem;
   text-align: center;
   background-color: #1e222e;
}

i:hover {
   color: white;
}

.fa fa-facebook-square {
   color: #e4756e;
}

.fa fa-twitter-square {
   color: #e4756e;
}

.fa fa-instagram {
   color: #e4756e;
}

/* MP Media Queries */

/* 1024 */

@media (max-width: 1024px) {

   #missionStatement {
      width: 55%;
      font-size: 2.75rem;
   }

   #topTextLeft {
      top: 12rem;
      left: 2rem;
      font-size: 1.75rem;
   }

   #midText {
      padding: 1% 0.25%;
      font-size: 1.5rem;
   }

   .descriptor {
      height: 45%;
   }

   p {
      font-size: 1.5rem;
      text-align: center;
      margin: 15%;
   }

   #jonathan-borba {
      margin: .5rem 0 0 -4rem;
   }

   #ryan-de-hamer {
      margin: 5rem 0 0 -4rem;
   }

   #mika {
      margin: 0.5rem 0 0 -4rem;
   }

   #bottomText {
      padding: 1%;
      font-size: 1.5rem;
   }

   #sven-mieke {
      height: 50%;
      width: 100%;
      object-fit: cover;
      background-position: center;
   }

}

/* 800 */

@media (max-width: 800px) {

   #topTextLeft {
      width: 30%;
      top: 12rem;
      left: 2rem;
      font-size: 1.45rem;
   }

   #missionStatement {
      width: 55%;
      font-size: 2.25rem;
   }

   #midText {
      padding: 0 23%;
      font-size: 1.5rem;
   }

   p {
      font-size: 1.5rem;
      text-align: center;
      margin: 10%;
   }

   #jonathan-borba {
      margin: .75rem 0 0 -4.25rem;
   }
   
   #ryan-de-hamer {
      margin: 7.55rem 0 0 -4.25rem;
   }
   
   #mika {
      margin: .75rem 0 0 -4.25rem;
   }

   #bottomText {
      padding:0 23%;
      font-size: 1.5rem;
   }

   #sven-mieke {
      height: 50%;;
      width: 100vw;
      object-fit: cover;
      background-position: center;
   }

}

/* 500 */

@media (max-width: 500px) {

   header {
      padding-left: 1%;
   }

   #logo {
      width: 41%;
      height: auto;
   }

   header nav {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      padding: 0;
      margin: 0;
   }

   header nav a {
      padding: 0;
      margin: 0;
   }

   #container {
      display: flex;
      flex-direction: column-reverse;
   }

   #topTextLeft {
      width: 100%;
      font-size: 1.55rem;
      top: 66.5%;
      left: 0%;
      background-color: hsl(240deg 9% 79% / 60%);
   }

   #missionStatement {
      width: 100%;
      font-size: 2.5rem;
      position: absolute;
      top: 13%;
      left: 1%;
   }

   #midText {
      padding: 0 7%;;
   }

   .descriptor {
      width: 30%;
   }

   #mika {
      margin: 3rem 0 0 -4.25rem;
   }

   #sven-mieke {
      height: 50%;
      width: 100vw;
      object-fit: cover;
      background-position: center;
   }

   #bottomText {
      padding: 0 7%;
   }

}

/* End Marketing Page */

/* Start About Us Page */

#meet {
   width: 100%;
   font-size: 3rem;
   color: #1E222E;
   margin: 1%;
   text-align: center;
   background-color: #E4756E;
}

#aboutPage {
width: 100%;
height: 100%;
background: rgb(30,34,46);
background: linear-gradient(56deg, rgba(30,34,46,1) 17%, rgba(228,117,110,1) 50%, rgba(30,34,46,1) 94%);
}

.container {
   width: 75%;
   height: 40vh;
   color: #e34647;
   border-radius: 1rem;
   margin: 1% auto;
   padding: 1rem;
}

.topHalf {
   width: 85%;
   height: 45%;
   margin: 0.75%;
   border-radius: 1rem;
   padding: 1%;
   display: flex;
   flex-flow: row nowrap;
}

.topImg {
   width: 10.75%;
   height: 98%;
   border: 2px solid #1E222E;
   border-radius: 50%;
   overflow: hidden;
}

.topImg a {
   margin: auto;
}

.topInfo {
   width: 90%;
   height: 98%;
   background-color: #E4756E;
   margin: 0 1%;
}

.topTitle {
   width: 20%;
   height: 20%;
   background-color: #1E222E;
   text-align: center;
   margin: 1%;
   border-radius: 0.5rem;
}

.topBio {
   width: 98%;
   height: 60%;
   background-color: #1E222E;
   font-size: 2.5rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: justify;
   padding: 0 2%;
   margin: 1%;
   border-radius: 0.5rem;
}

.bottomHalf {
   width: 85%;
   height: 45%;
   margin: 0.75% 0.75% 0.75% 14.25%;
   border-radius: 1rem;
   padding: 1%;
   display: flex;
   flex-direction: row-reverse;
}

.bottomImg {
   width: 10.75%;
   height: 98%;
   border: 2px solid #1E222E;
   border-radius: 50%;
   overflow: hidden;
}

.bottomImg a {
   margin: auto;
}

.bottomInfo {
   width: 90%;
   height: 98%;
   background-color: #E4756E;
   border-radius 1rem;
   margin: 0 1%;
}

.bottomTitle {
   width: 20%;
   height: 20%;
   background-color: #1E222E;
   text-align: center;
   margin: 1% 1% 1% 79%;
   border-radius: .5rem;
}

.bottomBio {
   width: 98%;
   height: 60%;
   font-size: 2.5rem;
   background-color: #1E222E;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: justify;
   padding: 0 2%;
   margin: 1%;
   border-radius: 0.5rem;
}

img {
   object-fit: cover;
   max-width: 106%;
   height: auto;
}

/* End About Us Page */