@import url("https://fonts.googleapis.com/css2?family=Sriracha&family=Ubuntu+Condensed&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   width: 100%;
   background: #e4756e;
   font-size: 1.6rem;
   line-height: 1.5;
   font-family: "Ubuntu Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: "Sriracha", cursive;
}

/* Contents */
/* Marketing Page ... 138 - 371 */
/* Media Queries ... (MP) 367 - 648 */
/* About Us Page ... 658 - 802 */
/* Media Queries ... (AU)  798 - 1011 */
/* Ratings Page ... 1021 - 1192 */
/* Media Queries ... (RP) 1194 - 1436 */

/* Colors Used ... #1E222E (background, font) ... #E4756E (background) ... #E34647 (font) */

/* Start Marketing Page */

/* Top Section */

nav {
   padding-top: 5.5rem;
}

a {
   text-decoration: none;
   letter-spacing: 0.3rem;
   color: #e34647;
   margin: 5rem;
}

header a:hover {
   color: #ffdd45;
}

header a:visited {
   color: #fc8b2f;
}

header {
   height: 12vh;
   width: 100vw;
   font-size: 2rem;
   padding: 3rem;
   background-color: #1e222e;
   display: flex;
   flex-flow: row;
   justify-content: space-between;
}

.anywhere-fitness {
   width: 10%;
   height: 100%;
}

#logo {
   max-width: 95%;
   height: auto;
}

#top {
   height: 88%;
   width: 100%;
}

#steve-halama {
   height: 88vh;
   width: 100vw;
   object-fit: cover;
   background-position: center;
}

#top-text-left {
   width: 35%;
   background-color: hsl(240deg 9% 79% / 26%);
   position: absolute;
   top: 31rem;
   left: 8rem;
   text-align: justify;
   padding: 1.5rem;
   border-radius: 1rem;
   color: #1e222e;
   font-weight: bold;
   font-size: 2rem;
}

#mission-statement {
   width: 53%;
   position: absolute;
   top: 13rem;
   right: 2rem;
   color: #1e222e;
   font-size: 5rem;
}

/* End Top */

/* Mid Section */

#spacer {
   width: 100%;
   height: 7vh;
   background-color: #1e222e;
}

#mid-text {
   height: 5vh;
   font-size: 3rem;
   text-align: center;
}

#mid-container {
   height: 100vh;
   width: 100vw;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      180deg,
      rgba(30, 34, 46, 1) 7%,
      rgba(228, 117, 110, 1) 45%,
      rgba(30, 34, 46, 1) 82%
   );
   text-align: center;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
}

.descriptor {
   height: 47vh;
   width: 18vw;
   background-color: #1e222e;
   border-radius: 2rem;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   align-items: center;
}

.descriptor a {
   height: 50%;
   width: 100%;
   margin: 0;
}

#jonathan-borba {
   height: 90%;
   width: 85%;
   border-radius: 2rem;
   margin-bottom: 7%;
   transition-duration: 0.5s;
   border: 3px solid #e34647;
}

#jonathan-borba:hover {
   height: 97%;
   width: 96%;
   padding: 0;
   margin-bottom: 2%;
}

#ryan-de-hamer {
   height: 90%;
   width: 85%;
   border: 3px solid #e34647;
   border-radius: 2rem;
   margin-bottom: 7%;
   transition-duration: 0.5s;
}

#ryan-de-hamer:hover {
   height: 97%;
   width: 96%;
   padding: 0;
   margin-bottom: 2%;
}

#mika {
   height: 90%;
   width: 85%;
   border: 3px solid #e34647;
   border-radius: 2rem;
   margin-bottom: 7%;
   transition-duration: 0.5s;
}

#mika:hover {
   height: 97%;
   width: 96%;
   padding: 0;
   margin-bottom: 2%;
}

p {
   margin: 10% 10% 0 10%;
   color: #e34647;
   font-size: 2rem;
   text-align: justify;
}

/* End Mid */

/* Bottom Section */

#bottom {
   width: 100vw;
}

#bottom-text {
   height: 5vh;
   font-size: 3rem;
   text-align: center;
}

#sven-mieke {
   height: 50%;
   width: 100%;
   object-fit: cover;
   background-position: center;
}

footer {
   height: 10vh;
   padding: 0 35%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-around;
   align-items: center;
   background-color: #1e222e;
}

footer a {
   margin: 0;
}

i:hover {
   color: white;
}

.fa fa-facebook-square {
   color: #e4756e;
}

.fa fa-twitter-square {
   color: #e4756e;
}

.fa fa-instagram {
   color: #e4756e;
}

/* MP Media Queries */

/* 1024 */

@media (max-width: 1024px) {
   header {
      padding: 2%;
   }

   .anywhere-fitness {
      width: 20%;
   }

   #mission-statement {
      width: 55%;
      font-size: 2.75rem;
   }

   #top-text-left {
      top: 12rem;
      left: 2rem;
      font-size: 1.75rem;
   }

   #mid-text {
      padding: 1% 0.25%;
      font-size: 1.5rem;
   }

   .descriptor {
      height: 45%;
      width: 25%;
   }

   p {
      font-size: 1.5rem;
   }

   #bottom-text {
      padding: 1%;
      font-size: 1.5rem;
   }

   #sven-mieke {
      height: 50%;
      width: 100%;
      object-fit: cover;
      background-position: center;
   }
}

/* 800 */

@media (max-width: 800px) {
   .anywhere-fitness {
      width: 25%;
   }

   #top-text-left {
      width: 30%;
      top: 12rem;
      left: 2rem;
      font-size: 1.45rem;
   }

   #mission-statement {
      width: 55%;
      font-size: 2.25rem;
   }

   #mid-text {
      padding: 0 23%;
      font-size: 1.5rem;
   }

   p {
      font-size: 1.5rem;
   }

   #bottom-text {
      padding: 0 23%;
      font-size: 1.5rem;
   }

   #sven-mieke {
      height: 50%;
      width: 100vw;
      object-fit: cover;
      background-position: center;
   }
}

/* 500 */

@media (max-width: 500px) {
   header {
      padding-left: 1%;
   }

   .anywhere-fitness {
      width: 45%;
      margin-left: 1%;
   }

   #logo {
      width: 100%;
      height: auto;
   }

   header nav {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      padding: 0;
      margin: 0;
   }

   header nav a {
      padding: 0;
      margin: 0;
   }

   #container {
      display: flex;
      flex-direction: column-reverse;
   }

   #top-text-left {
      width: 98%;
      font-size: 1.55rem;
      top: 66.5%;
      left: 1%;
      background-color: hsl(240deg 9% 79% / 60%);
   }

   #mission-statement {
      width: 100%;
      font-size: 2.5rem;
      position: absolute;
      top: 13%;
      left: 1%;
   }

   #mid-text {
      padding: 0 7%;
   }

   #mid-container {
      flex-flow: column;
      align-items: space-around;
      justify-content: center;
      height: 125vh;
      padding: 20% 0;
   }

   .descriptor {
      width: 60%;
      height: 30%;
      margin-bottom: 10%;
      border: 2px solid #e4756e;
   }

   #jonathan-borba {
      height: 50%;
   }

   #jonathan-borba:hover {
      height: 60%;
   }

   #ryan-de-hamer {
      height: 50%;
   }

   #ryan-de-hamer:hover {
      height: 60%;
   }

   #mika {
      height: 50%;
   }

   #mika:hover {
      height: 60%;
   }

   #bottom-text {
      padding: 0 7%;
   }

   footer {
      padding: 0;
   }
}

/* iPhone 6/7/8 Plus */

@media (max-width: 414px) {
   #mission-statement {
      font-size: 2rem;
      margin-left: 2%;
   }

   #top-text-left {
      top: 70%;
      height: 30%;
      font-size: 1.25rem;
   }

   #spacer {
      padding: 7%;
   }

   #mid-text {
      height: 10%;
   }

   p {
      font-size: 1.25rem;
   }

   #bottom-text {
      height: 10%;
   }

   #mid-container {
      height: 125vh;
      justify-content: space-between;
   }

   .descriptor {
      height: 35%;
      margin-bottom: 10%;
   }
}

/* iPhone 6/7/8 */

@media (max-width: 375px) {
   header nav a {
      font-size: 1.5rem;
   }

   #mission-statement {
      font-size: 1.75rem;
   }

   #top-text-left {
      top: 65%;
      height: 35%;
      font-size: 1.25rem;
   }

   #mid-container {
      height: 140vh;
   }

   .descriptor {
      height: 40%;
   }
}

/* 320 */

@media (max-width: 320px) {
   #mission-statement {
      font-size: 1.5rem;
   }

   #top-text-left {
      top: 65.5%;
      font-size: 1rem;
   }

   #mid-text {
      font-size: 1.25rem;
   }

   #bottom-text {
      font-size: 1.25rem;
   }
}

/* End Marketing Page */

/* Start About Us Page */

#meet {
   width: 100%;
   font-size: 3rem;
   color: #1e222e;
   margin: 1%;
   text-align: center;
   background-color: #e4756e;
}

a.home-link:visited {
   color: #e34647;
}

#about-page {
   width: 100%;
   height: 100%;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      56deg,
      rgba(30, 34, 46, 1) 17%,
      rgba(228, 117, 110, 1) 50%,
      rgba(30, 34, 46, 1) 94%
   );
}

.container {
   width: 75%;
   height: 40vh;
   color: #e34647;
   border-radius: 1rem;
   margin: 1% auto;
   padding: 1rem;
}

.top-half {
   width: 85%;
   height: 45%;
   margin: 0.75%;
   border-radius: 1rem;
   padding: 1%;
   display: flex;
   flex-flow: row nowrap;
}

.top-img {
   width: 10.75%;
   height: 98%;
   border: 2px solid #1e222e;
   border-radius: 50%;
   overflow: hidden;
}

.top-img a {
   margin: auto;
}

.top-info {
   width: 90%;
   height: 98%;
   background-color: #e4756e;
   margin: 0 1%;
}

.top-title {
   width: 20%;
   height: 20%;
   background-color: #1e222e;
   text-align: center;
   margin: 1%;
   border-radius: 0.5rem;
}

.top-bio {
   width: 98%;
   height: 60%;
   background-color: #1e222e;
   font-size: 2.5rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: justify;
   padding: 0 2%;
   margin: 1%;
   border-radius: 0.5rem;
}

.bottom-half {
   width: 85%;
   height: 45%;
   margin: 0.75% 0.75% 0.75% 14.25%;
   border-radius: 1rem;
   padding: 1%;
   display: flex;
   flex-direction: row-reverse;
}

.bottom-img {
   width: 10.75%;
   height: 98%;
   border: 2px solid #1e222e;
   border-radius: 50%;
   overflow: hidden;
}

.bottom-img a {
   margin: auto;
}

.bottom-info {
   width: 90%;
   height: 98%;
   background-color: #e4756e;
   margin: 0 1%;
}

.bottom-title {
   width: 20%;
   height: 20%;
   background-color: #1e222e;
   text-align: center;
   margin: 1% 1% 1% 79%;
   border-radius: 0.5rem;
}

.bottom-bio {
   width: 98%;
   height: 60%;
   font-size: 2.5rem;
   background-color: #1e222e;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: justify;
   padding: 0 2%;
   margin: 1%;
   border-radius: 0.5rem;
}

img {
   object-fit: cover;
   max-width: 106%;
   height: auto;
}

/* AU Media Queries */

/* 1024 */

@media (max-width: 1024px) {
   .container {
      width: 100%;
      margin: 0;
   }

   .top-half {
      width: 85%;
   }

   .bottom-half {
      width: 85%;
      padding-right: 1%;
   }

   .top-img {
      width: 15%;
   }

   .top-info {
      width: 85%;
      margin: 0 3%;
   }

   .top-title {
      width: 30%;
   }

   .bottom-img {
      width: 15%;
   }

   .bottom-info {
      width: 85%;
      margin: 0 3%;
   }

   .bottom-title {
      width: 30%;
      margin: 1% 1% 1% 69%;
   }
}

/* 800 */

@media (max-width: 800px) {
   .top-half {
      width: 75%;
   }

   .bottom-half {
      width: 75%;
      margin: 0.75% 0.75% 0.75% 24.25%;
   }

   .top-img {
      width: 25%;
   }

   .top-info {
      width: 85%;
      margin: 0 5%;
   }

   .top-title {
      width: 55%;
   }

   .top-bio {
      font-size: 1.75rem;
   }

   .bottom-img {
      width: 25%;
   }

   .bottom-info {
      width: 85%;
      margin: 0 5%;
   }

   .bottom-title {
      width: 55%;
      margin: 1% 1% 1% 39%;
   }

   .bottom-bio {
      font-size: 1.75rem;
   }
}

/* 500 */

@media (max-width: 500px) {
   .top-half {
      width: 95%;
   }

   .bottom-half {
      width: 95%;
      margin: 0.75% 0.75% 0.75% 0.75%;
   }

   .top-img {
      width: 40%;
   }

   .top-info {
      width: 85%;
      margin: 0 5%;
      font-size: 1.25rem;
   }

   .top-title {
      width: 60%;
      padding-top: 1.5%;
   }

   .top-bio {
      font-size: 1.25rem;
   }

   .bottom-img {
      width: 40%;
   }

   .bottom-info {
      width: 85%;
      margin: 0 5%;
      font-size: 1.25rem;
   }

   .bottom-title {
      width: 60%;
      margin: 1% 1% 1% 39%;
      padding-top: 1.5%;
   }

   .bottom-bio {
      font-size: 1.25rem;
   }
}

/* 414 */

@media (max-width: 414px) {
   #meet {
      font-size: 2rem;
      padding: 0 15%;
   }

   .top-title {
      padding-top: 0.25%;
      width: 70%;
   }

   .bottom-title {
      padding-top: 0.25%;
      width: 70%;
      margin: 1% 1% 1% 29%;
   }

   .top-bio {
      height: 70%;
   }

   .bottom-bio {
      height: 70%;
   }
}

/* 375 */

@media (max-width: 375px) {
   #meet {
      font-size: 1.75rem;
   }

   .top-title {
      width: 80%;
      font-size: 1.25rem;
   }

   .bottom-title {
      width: 80%;
      font-size: 1.25rem;
      margin: 1% 1% 1% 19%;
   }
}

/* 320 */

@media (max-width: 320px) {
   .top-title {
      width: 98%;
   }

   .bottom-title {
      width: 98%;
      margin: 1% 1% 1% 1%;
   }

   .top-bio {
      font-size: 1rem;
   }

   .bottom-bio {
      font-size: 1rem;
   }
}

/* End About Us Page */

/* Start Ratings Page */

#rate {
   width: 100%;
   font-size: 3rem;
   color: #1e222e;
   margin: 1%;
   text-align: center;
   background-color: #e4756e;
}

.rating {
   width: 60%;
   height: auto;
   object-fit: cover;
   background-position: center;
}

#rating-page {
   width: 100%;
   height: 100%;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      270deg,
      rgba(30, 34, 46, 1) 17%,
      rgba(228, 117, 110, 1) 50%,
      rgba(30, 34, 46, 1) 94%
   );
}

.container-rp {
   width: 50%;
   height: 50vh;
   color: #e34647;
   border-radius: 1rem;
   margin: 1% auto;
   padding: 1rem;
   display: flex;
   flex-flow: row;
}

.top-half-rp {
   width: 85%;
   height: 98%;
   margin: 0.75%;
   border-radius: 1rem;
   padding: 1%;
   display: flex;
   flex-flow: row nowrap;
   border: 3px solid #e4756e;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      315deg,
      rgba(30, 34, 46, 1) 30%,
      rgba(228, 117, 110, 1) 50%,
      rgba(30, 34, 46, 1) 69%
   );
}

.top-img-rp {
   width: 7%;
   height: 15%;
   margin-top: -1%;
   position: absolute;
   left: 24.25%;
   border: 2px solid #1e222e;
   border-radius: 50%;
   overflow: hidden;
   border: 3px solid #e4756e;
}

.top-img-rp a {
   margin: auto;
}

.top-info-rp {
   width: 90%;
   height: 98%;
   background-color: #e4756e;
   margin: 1% 4.5%;
}

.top-title-rp {
   width: 90%;
   height: 15%;
   background-color: #1e222e;
   text-align: center;
   padding: 1.5% 0;
   margin: 1% 1% 1% 9%;
   border-radius: 0.5rem;
}

.top-bio-rp {
   width: 98%;
   height: 82%;
   background-color: #1e222e;
   font-size: 2.5rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: justify;
   padding: 0 2%;
   margin: 1%;
   border-radius: 0.5rem;
}

.bottom-half-rp {
   width: 85%;
   height: 98%;
   margin: 0.75% 0.75% 0.75% 1%;
   border-radius: 1rem;
   padding: 1%;
   display: flex;
   flex-direction: row-reverse;
   border: 3px solid #e4756e;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      315deg,
      rgba(30, 34, 46, 1) 30%,
      rgba(228, 117, 110, 1) 50%,
      rgba(30, 34, 46, 1) 69%
   );
}

.bottom-img-rp {
   width: 7%;
   height: 15%;
   margin-top: 15.5%;
   position: absolute;
   right: 23.25%;
   border: 2px solid #1e222e;
   border-radius: 50%;
   overflow: hidden;
   border: 3px solid #e4756e;
}

.bottom-img-rp a {
   margin: auto;
}

.bottom-info-rp {
   width: 90%;
   height: 98%;
   display: flex;
   flex-direction: column-reverse;
   background-color: #e4756e;
   margin: 1% 4.5%;
}

.bottom-title-rp {
   width: 90%;
   height: 15%;
   background-color: #1e222e;
   text-align: center;
   margin: 1% 9% 1% 1%;
   padding: 1.5% 0;
   border-radius: 0.5rem;
}

.bottom-bio-rp {
   width: 98%;
   height: 82%;
   font-size: 2.5rem;
   background-color: #1e222e;
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-align: justify;
   padding: 0 2%;
   margin: 1%;
   border-radius: 0.5rem;
}

/* RP Media Queries */

/* 1024 */

@media (max-width: 1024px) {
   #rate {
      font-size: 2.75rem;
   }

   .container-rp {
      width: 100%;
      margin: 0;
   }

   .top-half-rp {
      width: 85%;
   }

   .bottom-half-rp {
      width: 85%;
      padding-right: 1%;
   }

   .top-img-rp {
      width: 12%;
      left: 30%;
      margin-top: 0.5%;
   }

   .top-info-rp {
      width: 85%;
      margin: 0 3%;
   }

   .top-title-rp {
      width: 98%;
      margin: 1%;
      padding: 2% 25% 0 0;
   }

   .bottom-img-rp {
      width: 12%;
      right: 30%;
      margin-top: 22.5%;
   }

   .bottom-info-rp {
      width: 85%;
      margin: 0 3%;
   }

   .bottom-title-rp {
      width: 98%;
      margin: 1%;
      padding: 2% 0 0 25%;
   }
}

/* 800 */

@media (max-width: 800px) {
   #rate {
      font-size: 2.25rem;
   }

   .top-half-rp {
      width: 75%;
   }

   .bottom-half-rp {
      width: 75%;
   }

   .top-img-rp {
      width: 15%;
   }

   .top-info-rp {
      width: 95%;
      margin: 0 5%;
   }

   .top-title-rp {
      width: 98%;
      padding: 4% 35% 0 0;
   }

   .top-bio-rp {
      font-size: 2rem;
   }

   .bottom-img-rp {
      width: 15%;
      right: 30%;
      margin-top: 29.5%;
   }

   .bottom-info-rp {
      width: 95%;
      margin: 0 5%;
   }

   .bottom-title-rp {
      width: 98%;
      padding: 4% 0 0 35%;
   }

   .bottom-bio-rp {
      font-size: 2rem;
   }
}

/* 500 */

@media (max-width: 500px) {
   #rate {
      padding: 0 7%;
   }

   .top-half-rp {
      width: 95%;
   }

   .bottom-half-rp {
      width: 95%;
      margin: 0.75% 0.75% 0.75% 0.75%;
   }

   .top-img-rp {
      width: 20%;
      height: 12%;
      left: 23%;
   }

   .top-info-rp {
      width: 85%;
      margin: 0 5%;
      font-size: 1.25rem;
   }

   .top-title-rp {
      width: 98%;
      height: 10%;
      padding: 7% 45% 0 0;
   }

   .top-bio-rp {
      height: 88%;
      font-size: 1.23rem;
   }

   .bottom-img-rp {
      width: 20%;
      height: 12%;
      right: 23%;
      margin-top: 54%;
   }

   .bottom-info-rp {
      width: 85%;
      margin: 0 5%;
      font-size: 1.25rem;
   }

   .bottom-title-rp {
      width: 98%;
      height: 10%;
      padding: 5% 0 0 45%;
   }

   .bottom-bio-rp {
      height: 88%;
      font-size: 1.23rem;
   }
}

/* 414 */

@media (max-width: 414px) {
   #meet {
      font-size: 2rem;
      padding: 0 15%;
   }

   .top-title-rp {
      padding-top: 0.25%;
      width: 70%;
   }

   .bottom-title-rp {
      padding-top: 0.25%;
      width: 70%;
      margin: 1% 1% 1% 29%;
   }

   .top-bio-rp {
      height: 70%;
   }

   .bottom-bio-rp {
      height: 70%;
   }
}

/* 375 */

@media (max-width: 375px) {
   #meet {
      font-size: 1.75rem;
   }

   .top-title-rp {
      width: 80%;
      font-size: 1.25rem;
   }

   .bottom-title-rp {
      width: 80%;
      font-size: 1.25rem;
      margin: 1% 1% 1% 19%;
   }
}

/* 320 */

@media (max-width: 320px) {
   .top-title-rp {
      width: 98%;
   }

   .bottom-title-rp {
      width: 98%;
      margin: 1% 1% 1% 1%;
   }

   .top-bio-rp {
      font-size: 1rem;
   }

   .bottom-bio-rp {
      font-size: 1rem;
   }
}

/* End Ratings Page */

/* Start Find Page */

#zip-code {
   background-color: #1e222e;
   /* border: 1px solid white; */
   width: 100vw;
   height: 7%;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
}

#data {
   width: 15%;
   display: flex;
   color: #e34647;
   font-size: 1.25rem;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
   /* border: 1px solid yellow; */
}

#zip-entry {
   width: 75%;
   padding: 1% 1% 1% 7%;
   margin-top: 5%;
   text-align: center;
   color: #1e222e;
   letter-spacing: 1rem;
   font-weight: bold;
   font-size: 2.5rem;
   background-color: white;
   border: 3px solid #e4756e;
}

#find-page-nav {
   width: 15%;
   text-align: center;
   padding: 1% 0;
   /* border: 1px solid white; */
}

#button {
   background-color: #e4756e;
   border: 3px solid #1e222e;
   font-weight: bold;
   font-size: 1.5rem;
   color: #1e222e;
   width: 75%;
   padding: 7%;
   margin-bottom: 5%;
   transition-duration: 1s;
   /* border: 1px solid yellow; */
}

#button:hover {
   border: 3px solid #e4756e;
   background-color: #1e222e;
   color: #e34647;
}

#find-page {
   width: 100vw;
   height: 150vh;
   background: rgb(30, 34, 46);
   background: radial-gradient(
      circle,
      rgba(30, 34, 46, 1) 11%,
      rgba(228, 117, 110, 1) 70%,
      rgba(30, 34, 46, 1) 100%
   );
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   align-items: space-evenly;
}

.container-find {
   width: 100%;
   height: 50%;
   /* border: 1px solid black; */
   padding: 1% 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left-side-find {
   width: 45%;
   height: 96%;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      15deg,
      rgba(30, 34, 46, 1) 17%,
      rgba(228, 117, 110, 1) 40%,
      rgba(30, 34, 46, 1) 82%
   );
   /* border: 1px solid white; */
   margin: 0 1%;
   border-radius: 2rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.right-side-find {
   width: 45%;
   height: 96%;
   background: rgb(30, 34, 46);
   background: linear-gradient(
      345deg,
      rgba(30, 34, 46, 1) 17%,
      rgba(228, 117, 110, 1) 40%,
      rgba(30, 34, 46, 1) 82%
   );
   /* border: 1px solid white; */
   border-radius: 2rem;
   display: flex;
   flex-flow: row-reverse;
   justify-content: space-evenly;
   align-items: center;
}

.instructor-find {
   width: 30%;
   height: 92%;
   background: rgb(228, 117, 110);
   background: linear-gradient(
      270deg,
      rgba(228, 117, 110, 1) 6%,
      rgba(30, 34, 46, 1) 20%,
      rgba(228, 117, 110, 1) 49%,
      rgba(30, 34, 46, 1) 81%,
      rgba(228, 117, 110, 1) 97%
   );
   border-radius: 2rem;
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   align-items: center;
   overflow: hidden;
   /* border: 1px solid yellow; */
}

.instr-pic {
   width: 94%;
   height: 70%;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   /* border: 1px solid black; */
}

.instr-name {
   width: 94%;
   height: 20%;
   background-color: #1e222e;
   text-align: center;
   color: #e34647;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   /* border: 1px solid black; */
}

.location-find {
   width: 65%;
   height: 92%;
   background: rgb(228, 117, 110);
   background: linear-gradient(
      270deg,
      rgba(228, 117, 110, 1) 6%,
      rgba(30, 34, 46, 1) 20%,
      rgba(228, 117, 110, 1) 49%,
      rgba(30, 34, 46, 1) 81%,
      rgba(228, 117, 110, 1) 97%
   );
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 2rem;
   /* border: 1px solid red; */
}

.loc-pic {
   width: 96%;
   height: 70%;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   /* border: 1px solid black; */
}

.loc-address {
   width: 96%;
   height: 20%;
   background-color: #1e222e;
   text-align: center;
   color: #e34647;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   /* border: 1px solid black; */
}

.instr-find {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-position: center;
   border: 3px solid #1e222e;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
}

.instr-name {
   text-align: center;
   color: #e34647;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid #e34647;
}

.loc-find-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-position: center;
   border: 3px solid #1e222e;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
}

.loc-address {
   text-align: center;
   color: #e34647;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 3px solid #e34647;
}
